dist
*classes
target/
build/
.gradle/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
patch-process/*
.idea
.svn
.classpath
/.metadata
/.recommenders
*~
*#
.#*
rat.out
TAGS
*.iml
.project
.settings
.gradle
.vagrant
Vagrantfile.local
/logs

gradle/wrapper/*

results
tests/results
.cache
*.log.gz

docs/generated/
/libs_ext/
/libs/
/out/
/src/main/webapp/admin/node_moudules
/src/test/*

predict-error.log
predict-warn.log
predict.log
period.log
TestController.java
spring-view.xml